/*
    L        A     SSSS   EEEEE   RRR     DD    EEEEE   SSSS   IIIII     GG     N   N     IIIII     OO
    L       A A    S      E       R  R    D D   E       S        I      G  G    NN  N       I      O  O
    L      AAAAA    SS    EEE     RRR     D D   EEE      SS      I      G       N NNN       I      O  O
    L     A     A     S   E       R  R    D D   E          S     I      G GG    N  NN       I      O  O
    LLLL A       A SSSS   EEEEE   R   R   DD    EEEEE   SSSS   IIIII     GG     N   N  O  IIIII     OO
*/

/*Copyright 2023*/
/*For questions contact derek@laserdesign#io*/
:root {
	--white: rgb(255, 255, 255);
	--yellow: rgb(242, 249, 6);
	--blue: rgb(7, 44, 246);
	--blue-opacity: rgb(7, 44, 246, .85);
	--black: rgb(0, 0, 0);
};

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Karla:wght@700&family=Noto+Sans&family=Open+Sans+Condensed&display=swap");

body  {
	color: var(--white);
	font-family: "Noto Sans", sans-serif;
	background-image: url(../images/bricks.jpg);
}

a:link {
	color: var(--white);
	text-decoration: none;
}

a:hover {
	color:var(--yellow);
}

a:visited {
	color: var(--white);
}

a:visited:hover {
	color: var(--yellow);
}

a:active {
	color:var(--yellow);
}

#container {
	display: grid;
	border: 1px solid var(--black); 
	border-radius: 5px;
	text-align: center;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: auto;
	background: linear-gradient(135deg, var(--white), var(--blue)); 
	height: auto;
} 

@media only screen and (max-width: 600px) {
	#container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	#mainContent {
		order: 2;
	} 

	#header {
		order: 1;
	}

	#sidebar1 {
		order: 4;
	}

	#sidebar2 {
		order: 3;
	}
}
#header {
	display: grid;
	grid-template-columns: auto auto auto auto; 
	padding: 1%;  
	grid-column-start: 1;
	grid-column-end: 4;	
	background-color: var(--blue);
	border-radius: 5px;
	grid-gap: 10px;
	object-fit: fill;
	margin: 1vw;
}

#heading_text {
	font-size: 2.8vw;
	/* font-family: "Lucida Sans Unicode", sans-serif; */
	font-family: 'Open Sans Condensed', sans-serif;
	border: 1px solid var(--white);
	border-radius: 5px;
	height: 100%;
	font-weight: bold;
}

#logo {
	grid-column-start: 1;
	grid-column-end: 4; 
	width: 100%;
	height: auto;
}

.responsive {
	width: 100%;
	height: auto;
}

#sidebar1 {
	
	margin: 1vw;
	height: auto;
	background-color: var(--blue-opacity);
	border-radius: 5px;
}
#jsnews {
	color: var(--black);
	margin-left: 1vw;
	margin-right: 1vw;
	border: 2px solid var(--black);
	border-radius: 5px;
	background-color: var(--white);
	height: 40vh;
	width: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

#navi_main {
	border-bottom: 1px solid var(--white);
	min-height: 3em;
	padding: 0;
}

#mainContent {
	margin: 1vw;
	color: var(--white);
	background-color: var(--blue-opacity); 
	border-radius: 5px;
	height: auto;
} 

#main-pics {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: 100%;
	margin-bottom: 5vh;
}

.row {
	display: flex;
}

.column {
	flex: 25%;
	padding: 5px;
}

@media only screen and (max-width: 600px) {
	#container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	#mainContent {
		order: 2;
	} 

	#header {
		order: 1;
	}

	#sidebar1 {
		order: 4;
	}

	#sidebar2 {
		order: 3;
	}
}

#sidebar2 {
	margin: 1vw;
	background-color:  var(--blue-opacity);
	border-radius: 5px;
	height: auto;
}

#copyright {
	font-family: "Open Sans Condensed", sans-serif;
	font-style: bold;
}

hr {
	border: 1px solid var(--white);
}

h1 {
	font-size: 40px;
}
h1 + p {
	font-size: 120px;
}

h2 {
	font-size: 32px;
	color: var(--white);
}

#spectext {
	font-family: 'Open Sans Condensed', sans-serif; 
	color: var(--white);
} 

#paratext {
	font-family: "Noto Sans", sans-serif;
	color: var(--white);
}

.social-box {
	
	margin-bottom: 5vh;
    	display: grid;
    	object-fit: fill;
    	grid-template-columns: auto auto auto auto auto auto; 
    	grid-template-rows: 100%;
} 

.compliance-box {
	margin-bottom: 5vh;
	display: grid;
	object-fit: fill;
	grid-template-columns: auto auto;
	grid-template-rows: 100%;
}

.phone-box {
	margin-bottom: 5vh;
}
